
:root{
    --primary: #ddd;
    --dark: #333;
    --light: #fff;

}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

  }

body{
    margin: 0px;
    background: #333;

}




/* Showcase */
.showcase{
    background: url(https://images.pexels.com/photos/2718571/pexels-photo-2718571.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    background-position: center;
    padding-bottom: 20rem;
}


header {
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 20rem;
    padding-bottom: 15rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

header h1{
    margin: 0;
    font-size: 4.5rem;
    background: #ccc;

}

header p {
    font-size: 2.3rem;
    margin-top: 0;
    color: grey;
    background: #ccc;

  }



.buttons{
    margin: 0 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    justify-items: center;
}

.buttons a{
    text-decoration: none;
}

.buttons a span {
    background: var(--primary);
    display: block;
    padding: 0.8rem;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 2.1rem;
}

.buttons a span:hover {
    background: var(--dark);
    color: var(--light);
  }

hr{
    margin-top: 3rem;
    margin-bottom: 6rem;
}

.section{
    display: block;
    color: var(--primary);
    text-transform: capitalize;
    font-size: 2.1rem;
    text-align: center;
    margin-bottom: 3rem;
}

.artists{
    margin: 0 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    justify-items: center;
}



.artistContainer{
    position: relative;
    /* width: 100%; */
}
  
.artistImage {
    display: block;
    max-width: 100%;
    height: auto;
}
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000;
    
}
  
   
.artistContainer:hover .overlay {
    opacity: 0.7;
    backface-visibility: hidden;
}
  
.artistName {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
/* Media Queries */
@media(max-width: 700px) {


    header{
        padding-right: 4rem;
        padding-left: 4rem;
    }
    header h1{
        font-size: 3.0rem;
    }
    
    header p {
        font-size: 2rem;
    } 

    .buttons{
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    .buttons a span {
        padding: 0.4rem;
        font-size: 1.5rem;
    }

    .artists{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}


/* @media (max-width: 500px) {
    .artists{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
  } */